.menu{
  &::after{
    content: '';
    width: calc(100% * 3);
    padding: 10px;
    position: absolute;
    top: calc(100% - 4px);
    display: none;
  }
  &:hover::after{
    display: block;
  }
}

.active{
  @apply bg-colorPresentNavLink;
}
