@if(this.isConfirmExit && this.isEditView){
<app-confirm-box [isOpenConfirmBox]="this.isConfirmExit" [ok]="'OK'" [cancel]="'Quay lại'" [typeConfirm]="'question'"
  [messageContent]="'Hủy bỏ phân quyền?'" (cancelClick)="onCancelConfirmExit()"
  (okClick)="onOkExitFormSave()"></app-confirm-box>
} @if(this.isConfirmSave && this.isEditView){
<app-confirm-box [isOpenConfirmBox]="this.isConfirmSave" [ok]="'OK'" [cancel]="'Quay lại'" [typeConfirm]="'question'"
  [messageContent]="
      'Đồng ý phân quyền ' + this.userModelEdit.role + ' cho ' + this.userModelEdit.email + '?'
    " [isLoading]="this.isLoading" (cancelClick)="onCancelConfirmSave()"
  (okClick)="onSavingProduct()"></app-confirm-box>
} @if(this.isConfirmDelete){
<app-confirm-box [isOpenConfirmBox]="this.isConfirmDelete" [ok]="'OK'" [cancel]="'Quay lại'" [typeConfirm]="'question'"
  [messageContent]="'Chắc chắn muốn xóa ' + this.userModelDetail.email + '?'" [isLoading]="this.isLoading"
  (cancelClick)="onCancelConfirmDelete()" (okClick)="onDeleteProduct()"></app-confirm-box>
}

<div class="fixed z-[9999] top-0 left-0 right-0 bottom-0 flex justify-center items-center">
  <div (click)="onClose()" class="absolute top-0 left-0 w-full h-full z-40 backdrop-blur-md bg-white-opa01"></div>

  <div [ngClass]="
        this.isOpenThis ? 'form-detail-product-vsb' : 'form-detail-product-hid'
      " class="form-create-product p-10 pt-[72px] bg-white rounded-md overflow-hidden shadow-2xl w-[640px] z-50 mx-2">
    <div class="absolute top-0 left-0 flex w-full justify-between items-center p-2 px-4 bg-gray-100">
      <p class="!m-0 flex items-center">
        @if(this.isDetailView){
        <mat-icon class="text-gray-500 mr-2"> description </mat-icon>
        <span class="font-medium text-slate-700">Chi tiết tài khoản</span>
        } @if(this.isEditView){
        <mat-icon class="text-blue-500 mr-2"> edit_square </mat-icon>
        <span class="font-medium text-slate-700">Phân quyền</span>
        }
      </p>
      <button (click)="onClose()" class="leading-[0] rounded-md bg-red-500 hover:bg-red-600 duration-300">
        <mat-icon class="w-24 h-24 text-white"> close </mat-icon>
      </button>
    </div>
    <div class="text-center flex justify-end text-lg mb-8">
      @if(this?.payloadToken?.scp?.includes("ROLE_SUPER_ADMIN")){
      <div
        class="p-2 px-6 flex items-center rounded-md bg-slate-700 shadow-md space-x-6 leading-[0] transition-all duration-300">
        @if(!isEditView){
        <div class="deleteProduct">
          <mat-icon (click)="onConfirmDelete()" [ngClass]="{ deleteProduct: true }"
            class="text-slate-50 hover:text-red-500 duration-300 cursor-pointer">
            delete
          </mat-icon>
        </div>
        <div class="editProduct">
          <mat-icon (click)="onTurnEditView()" [ngClass]="{ editProduct: true }"
            class="text-slate-50 hover:text-blue-500 duration-300 cursor-pointer">
            edit_square
          </mat-icon>
        </div>
        }@else {
        <div class="backToDetailView">
          <mat-icon (click)="backToDetailView()" [ngClass]="{ editProduct: true }"
            class="text-slate-50 hover:text-blue-500 duration-300 cursor-pointer">
            arrow_back
          </mat-icon>
        </div>
        }
      </div>
      }
    </div>
    <div class="w-full space-y-4">
      <div
        class="flex flex-col md:flex-row w-full md:items-center md:space-y-0 space-y-2 border-b border-b-gray-200 pb-4">
        <label class="text-left text-base text-slate-950 w-[140px]"><span class="option">Email:</span></label>
        @if(this.isEditView){
        <input disabled readonly [value]="this.userModelEdit.email" placeholder="Nhập..."
          [ngClass]="{ disabled: this.isEditView }"
          class="text-base text-slate-950 p-2 rounded-md w-full md:w-0 md:flex-1 outline-none border-gray-400 border focus:ring-1 focus:ring-blue-400 focus:border-blue-400 placeholder:text-gray-500 duration-200" />
        }@if(this.isDetailView){
        <p class="text-base text-gray-700 font-medium p-2 rounded-md w-full md:w-0 md:flex-1">
          @if(this.userModelDetail){ @if(this.userModelDetail.email != ''
          && this.userModelDetail.email != null){
          <ng-container>{{ this.userModelDetail.email }}</ng-container>
          } @else {
          <ng-container>{{ "---" }}</ng-container>

          } }
        </p>
        }
      </div>

      <div
        class="flex flex-col md:flex-row w-full md:items-center md:space-y-0 space-y-2 border-b border-b-gray-200 pb-4">
        <label class="text-left text-base text-slate-950 w-[140px]"><span class="option">Vai trò hiện
            tại:</span></label>
        @if(this.isEditView){
        <input [value]="this.currentRole" placeholder="Nhập..." [ngClass]="{ disabled: this.isEditView }" disabled
          readonly
          class="text-base text-slate-950 p-2 rounded-md w-full md:w-0 md:flex-1 outline-none border-gray-400 border focus:ring-1 focus:ring-blue-400 focus:border-blue-400 placeholder:text-gray-500 duration-200" />
        }@if(this.isDetailView){
        <p class="text-base text-gray-700 font-medium p-2 rounded-md w-full md:w-0 md:flex-1">
          @if(this.userModelDetail){ @if(this.userModelDetail.role[0] != ''
          && this.userModelDetail.role[0] != null){
          <ng-container>{{ this.currentRole }}</ng-container>
          } @else {
          <ng-container>{{ "---" }}</ng-container>

          } }
        </p>
        }
      </div>

      @if(isEditView){
      <div
        class="relative flex flex-col md:flex-row w-full md:items-center md:space-y-0 space-y-2 border-b border-b-gray-200 pb-4">
        <label class="text-left text-base text-slate-950 w-[140px]"><span class="required">Vai trò mới:</span></label>
        @if(this.isEditView){
        <select [(ngModel)]="this.userModelEdit.role"
          class="text-base text-slate-950 p-2 rounded-md w-full md:w-0 md:flex-1 outline-none border-gray-400 border focus:ring-1 focus:ring-blue-400 focus:border-blue-400 placeholder:text-gray-500 duration-200">
          @for(role of this.ROLE_STORE; track role){
          <option value="{{ role }}">{{ role }}</option>
          }
        </select>
        } @if(this.isDetailView){
        <p class="text-base text-gray-700 font-medium p-2 rounded-md w-full md:w-0 md:flex-1">
          @if(this.userModelDetail){ @if(this.userModelDetail.role[0] !=
          '' && this.userModelDetail.role[0] != null){
          <ng-container>{{ this.userModelDetail.role[0] }}</ng-container>
          } @else {
          <ng-container>{{ "---" }}</ng-container>

          } }
        </p>
        }
      </div>
      }

      <div class="w-full !mt-8">
        @if(this.isEditView){
        <button (click)="onSubmitAddNew()" class="w-full bg-green-600 overflow-hidden rounded-md group">
          <div
            class="p-3 leading-8 rounded-md w-full text-white font-semibold text-base bg-green-500 -translate-y-2 group-hover:translate-y-0 duration-300">
            Lưu
          </div>
        </button>
        }
      </div>
    </div>
  </div>
</div>
