<div class="bg-white shadow-md rounded-md text-gray-700 pb-16">
  <div class="p-2 px-4 text-left border-b border-b-gray-200 flex items-center justify-between">
    <label>Thông tin cá nhân</label>

    @if(!isEditProfileInformation){
    <button type="button" (click)="onIconEditProfileInformationClick()">
      <mat-icon class="text-base">
        tune
      </mat-icon>
    </button>
    }@else {
    <div class="flex gap-4">
      <button type="button">
        <mat-icon class="text-lg" (click)="onSaveProfileInformationClick()"> save</mat-icon>
      </button>
      <button type="button">
        <mat-icon class="text-lg" (click)="onIconCloseEditProfileInformationClick()"> disabled_by_default</mat-icon>
      </button>
    </div>
    }
  </div>
  <div class="p-2 px-4">
    <div class="grid grid-cols-[1fr_1fr_1fr] gap-6">
      <div class="flex items-start space-x-1">
        <div>
          <mat-icon class="text-gray-400 text-base leading-[1]">
            person
          </mat-icon>
        </div>
        <div class="flex flex-col flex-1 gap-2">
          <label class="text-gray-500 text-xs">Họ</label>
          @if(isEditProfileInformation){
          <input [(ngModel)]="this.profile.first_name" placeholder="Nhập..."
            class="input-field px-4 py-3 bg-transparent rounded-md outline-none border border-gray-300 text-xs text-gray-950 w-full duration-200 focus:ring-1 focus:border-transparent focus:ring-blue-500" />
          }@else {
          <p
            class="py-3 bg-transparent outline-none border border-transparent text-xs text-gray-950 w-full !m-0 font-medium">
            {{this?.profile?.first_name || '---'}}
          </p>
          }
        </div>
      </div>
      <div class="flex items-start space-x-1">
        <div>
          <mat-icon class="text-gray-400 text-base leading-[1]">
            person
          </mat-icon>
        </div>
        <div class="flex flex-col flex-1 gap-2">
          <label class="text-gray-500 text-xs">Tên</label>
          @if(isEditProfileInformation){
          <input [(ngModel)]="this.profile.last_name" placeholder="Nhập..."
            class="input-field px-4 py-3 bg-transparent rounded-md outline-none border border-gray-300 text-xs text-gray-950 w-full duration-200 focus:ring-1 focus:border-transparent focus:ring-blue-500" />
          }@else {
          <p
            class="py-3 bg-transparent outline-none border border-transparent text-xs text-gray-950 w-full !m-0 font-medium">
            {{this?.profile?.last_name || '---'}}
          </p>
          }
        </div>
      </div>
      <div class="flex items-start space-x-1">
        <div>
          <mat-icon class="text-gray-400 text-base leading-[1]">
            fingerprint
          </mat-icon>
        </div>
        <div class="flex flex-col flex-1 gap-2">
          <label class="text-gray-500 text-xs">Số căn cước</label>
          @if(isEditProfileInformation){
          <input [(ngModel)]="this.profile.identification_code" placeholder="Nhập..."
            class="input-field px-4 py-3 bg-transparent rounded-md outline-none border border-gray-300 text-xs text-gray-950 w-full duration-200 focus:ring-1 focus:border-transparent focus:ring-blue-500" />
          }@else {
          <p
            class="py-3 bg-transparent outline-none border border-transparent text-xs text-gray-950 w-full !m-0 font-medium">
            {{this?.profile?.identification_code || '---'}}
          </p>
          }
        </div>
      </div>

    </div>
    <div class="border-b border-b-gray-200 my-4"></div>

    <div class="grid grid-cols-[1fr_1fr_1fr] gap-5">
      <div class="flex items-start space-x-1">
        <div>
          <mat-icon class="text-gray-400 text-base leading-[1]">
            calendar_month
          </mat-icon>
        </div>
        <div class="flex flex-col flex-1 gap-2">
          <label class="text-gray-500 text-xs">Ngày sinh</label>
          @if(isEditProfileInformation){
          <input [(ngModel)]="this.profile.birthDay" type="date" placeholder="Nhập..."
            class="input-field px-4 py-3 bg-transparent rounded-md outline-none border border-gray-300 text-xs text-gray-950 w-full duration-200 focus:ring-1 focus:border-transparent focus:ring-blue-500" />
          }@else {
          <p
            class="py-3 bg-transparent outline-none border border-transparent text-xs text-gray-950 w-full !m-0 font-medium">
            {{this?.profile?.birthDay| date: 'dd/MM/yyyy'}}
          </p>
          }
        </div>
      </div>
      <div class="flex items-start space-x-1">
        <div>
          <mat-icon class="text-gray-400 text-base leading-[1]">
            wc
          </mat-icon>
        </div>
        <div class="flex flex-col flex-1 gap-2">
          <label class="text-gray-500 text-xs">Giới tính</label>
          @if(isEditProfileInformation){
          <select [(ngModel)]="this.profile.gender" placeholder="Nhập..."
            class="input-field px-4 py-3 bg-transparent rounded-md outline-none border border-gray-300 text-xs text-gray-950 w-full duration-200 focus:ring-1 focus:border-transparent focus:ring-blue-500">
            <option [value]="''">Chọn</option>
            <option [value]="'Nam'">Nam</option>
            <option [value]="'Nữ'">Nữ</option>
          </select>
          }@else {
          <p
            class="py-3 bg-transparent outline-none border border-transparent text-xs text-gray-950 w-full !m-0 font-medium">
            {{this?.profile?.gender
            || '---'}}
          </p>
          }
        </div>
      </div>
      <div class="flex items-start space-x-1">
        <div>
          <mat-icon class="text-gray-400 text-base leading-[1]">
            mail
          </mat-icon>
        </div>
        <div class="flex flex-col flex-1 gap-2">
          <label class="text-gray-500 text-xs">Email</label>
          @if(isEditProfileInformation){
          <input [(ngModel)]="this.profile.email" readonly placeholder="Nhập..."
            class="input-field px-4 py-3 bg-transparent rounded-md outline-none border border-gray-300 text-xs text-gray-950 w-full duration-200 focus:ring-1 focus:border-transparent focus:ring-blue-500" />
          }@else {
          <p
            class="py-3 bg-transparent outline-none border border-transparent text-xs text-gray-950 w-full !m-0 font-medium">
            {{this?.profile?.email
            || '---'}}
          </p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
