<div class="overflow-hidden h-full flex flex-col md:m-auto w-[1280px] max-w-full">
  @if (this.isOpenSaveForm) {
  <app-save-user (onCloseThis)="onCloseSaveForm($event)" (onReloadWhenSaveDone)="this.getProductOnInitComponent()"
    [isOpenThis]="isOpenSaveForm">
  </app-save-user>
  } @if(this.isOpenDetailForm){
  <app-detail-user (onCloseThis)="onCloseDetailForm($event)" [isOpenThis]="isOpenDetailForm"
    [detailCode]="showDetailCode" [isDetailView]="showDetailCode != ''">
  </app-detail-user>
  }

  <div class="flex-1 h-0 w-full flex flex-col">
    <div class="bg-white shadow-2xl rounded-md p-6 flex-1 h-0 flex flex-col w-full mt-10">
      <div class="relative flex flex-col md:flex-row md:justify-between md:items-center md:space-y-0 space-y-4 py-4">
        <div class="relative md:w-[360px] w-full">
          @if(focus_Search){
          <label class="pl-1 pr-4 absolute text-xs bg-white -top-2 left-2 z-50">
            <span class="mov-text-search">Nhập tìm kiếm</span>
          </label>
          }
          <div class="relative rounded-md border border-gray-300 overflow-hidden duration-300 flex items-center w-full"
            (click)="onFocusSearch()" [ngClass]="{ 'ring-1 ring-gray-400': focus_Search }">
            <input #searchInpEl (focusout)="onFocusOut()"
              class="border-none outline-none p-2 py-3 w-full text-sm focus:inset-2 text-slate-900 caret-blue-500 placeholder:text-slate-950" />

            @if(!focus_Search){
            <label (click)="onClickLabelSearchTemp()" id="label-temp-search"
              class="text-sm text-gray-500 pr-4 pl-1 absolute left-0 flex items-center cursor-text">
              <mat-icon class="mr-1"> search </mat-icon>
              <span>Nhập tìm kiếm</span>
            </label>
            }
          </div>
        </div>
        @if(this?.payloadToken?.scp === 'ADMIN' || this?.payloadToken?.scp === 'SUPER_ADMIN'){
        <button (click)="isOpenSaveForm = true"
          class="absolute right-0 hover:shadow-lg hover:scale-110 flex items-center h-fit py-2 px-10 rounded-full text-sm text-white font-medium bg-green-500 hover:bg-green-600 duration-300">
          <mat-icon class="mr-2"> add_card </mat-icon>
          <span>Tạo tài khoản</span>
        </button>
        }
      </div>
      <div id="table-user" class="w-full overflow-auto flex-1 h-0">
        @if(!isLoading){
        <div id="tableUser" class="flex flex-col mt-6 w-[1280px]">
          <div id="header-table"
            class="grid grid-cols-columnsTable py-2 px-6 pt-6 border-b border-b-gray-400 mt-4 sticky top-0 left-0 bg-white shadow-md">
            <p class="font-medium text-sm uppercase px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              #
            </p>
            <p class="font-medium text-sm uppercase px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              Email
            </p>
            <p class="font-medium text-sm uppercase px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              Vai trò
            </p>
            <p class="font-medium text-sm uppercase px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              Xem
            </p>
          </div>

          @for(user of listUser; track user.email; let index = $index){
          <div id="content-table" [ngClass]="{ '!bg-yellow-200': showDetailCode == user.email,
                                                '!bg-orange-300 !text-white': user.role === 'SUPER_ADMIN',
                                                '!bg-blue-400 !text-white': user.role === 'ADMIN'
                                            }"
            class="grid grid-cols-columnsTable py-2 px-6 pt-7 border-b border-b-gray-100 bg-white shadow-sm hover:bg-gray-200 duration-200">
            <p class="text-sm px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              {{ index + 1}}
            </p>
            <p class="text-sm px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              {{ user.email }}
            </p>
            <p class="text-sm px-4 text-ellipsis whitespace-nowrap overflow-hidden space-x-2">

              <span [ngClass]="{
                    'bg-gray-500': user.role === 'USER',
                    'bg-yellow-500': user.role === 'ADMIN',
                    'bg-orange-500': user.role === 'SUPER_ADMIN'
                    }" class="p-2 leading-[2] pb-1 text-white shadow-md font-medium">
                {{ user.role }}
              </span>

            </p>
            <p class="text-sm px-4 text-ellipsis whitespace-nowrap overflow-hidden">
              <button (click)="onShowDetail(user.email)" class="bg-transparent border-none outline-none">
                <mat-icon> drag_indicator </mat-icon>
              </button>
            </p>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
